$primary: #EF173D;
$secondary: #600A19;
$success: #FF4D6D;
$info: #535557;
$warning: #7F8183;
$danger: #BAB8B8;
$line: #4F5154;
$dark: #1E1E1E;

$btn-border-radius: 0;
$btn-padding-y: 0.75rem; // 12px
$btn-padding-x: 1.5rem; // 24px
$btn-link-color: white;